@import url('https://fonts.googleapis.com/css?family=Verdana');

body {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chatbox{
  background-image: url("../images/bg2.jpg");
  margin: 2em;
  padding: 1em;
  height: 42em;
  border: 0.3em solid #01101f;
  border-radius: 1em;
}
#chatlist {
  background-color: #c1e2b3;
  height: 36em;
  border: 0.2em solid #01101f;
  border-radius: 1em;
  float: left;
}
.messageBox{
  font-family: 'Verdana',sans-serif;
  border: 0.2em solid #01101f;
  border-radius: 1em;
  padding: 2em;
  margin-left: 2em;
  height: 38em;
  background-color: #01101f;
}

.textBox{
  width: 100%;
  padding: 2em 0em 2em 0em;
  float: none;
/*  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 2em;*/
}

.messageTxt{
  width: 100%;
  height: 24em;
  background-color: #c1e2b3;
  border-radius: 0.5em;
  padding: 2em 0em 2em 0em;
  margin-bottom: 1em;

}
.submitBtn{
  margin-top: 0.2em;
}

#status{
  margin-left: 16em;
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#messageText{
  width: 90%;
  height: 2em;
  padding: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
}
